#container{
	background: rgb(124,124,124);
background: -moz-linear-gradient(top,  rgba(124,124,124,1) 0%, rgba(33,33,33,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,124,124,1)), color-stop(100%,rgba(33,33,33,1)));
background: -webkit-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(33,33,33,1) 100%);
background: -o-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(33,33,33,1) 100%);
background: -ms-linear-gradient(top,  rgba(124,124,124,1) 0%,rgba(33,33,33,1) 100%);
background: linear-gradient(to bottom,  rgba(124,124,124,1) 0%,rgba(33,33,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#212121',GradientType=0 );
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; position:relative; left:10%;  width:900px; height: 283px; margin: 0 auto; z-index:100;
}
#containerss{
	background-color: transparent;
	position:relative; left:10%;  width:900px; height: 283px; margin: 0 auto; z-index:100;

}
ul{
	position:relative; width:900px; list-style:none; left: 8%;
}
li{

	float:left; padding-right:74px;
}